html {
    font-size: 14px;
    color: #333333;
    font-family: Arial, 'Pt Sans';
}
body {
    background: #f6f6f6;
}

/* Bootstrap classes */
.border {
    border: 1px solid #dee2e6 !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.border-secondary {
    border-color: #6c757d !important;
}
.text-center {
    text-align: center !important;
}
/* END */

.plugin__title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}

.number-inc,
.number-dec,
.counter-inc,
.counter-dec {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 1.25em;
}
.number-inc,
.counter-inc {
    font-family: fontello;
    line-height: 17px;
}
.number-dec,
.counter-dec {
    line-height: 16px;
}
.number-input,
.counter-input {
    margin: 0 10px;
    width: 55px;
    background: #fff;
    font-size: 1.2em;
    height: 26px;
    color: #000;
    border: 1px solid #333;
}

.inputs-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example {
    display: block;
    padding: 3px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.example:last-child {
    border-bottom: none;
}

.plugin__title {
    padding: 15px 0;
}

.example__title {
    margin-top: 10px;
    font-size: 18px;
}
.example:first-child .example__title {
    margin-top: 0;
}
.example__code {
    font-size: 16px;
    padding: 10px;
}